.actionsParentContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actionsVideo {
    width: 75%;
    height: 75%;
}

.actionsButtonsContainer {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4vh;
}

.actionsRespond {
    background-color: #03fc49;
    padding: 2vh 4vw;
    border-radius: 10px;
    font-family: var(--regularFontBold);
    font-size: 3vh;
}

.actionsReject {
    background-color: #fc0345;
    padding: 2vh 4vw;
    border-radius: 10px;
    font-family: var(--regularFontBold);
    font-size: 3vh;
}