.navbarParent {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
}
.navbarContainer {
    display: flex;
    height:8vh;
    width: 80%;
    gap: 5px;
    margin: 40px;
    padding: 5px 20px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 25px;
}
.active {
    background-color: rgba(255, 255, 255, 0.3);
}
.Logo {
    margin-right: auto;
    font-family: var(--styledFontBold);
}
.Coloured {
    color: var(--accentColor1);
}
.navbarContents {
    font-family: var(--regularFontBold);
    padding: 0px 10px;
}


