.navbarParent {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 0.1s ease-in-out;
    z-index: 10000000;
    background: rgba(63, 63, 63, 0.23);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(63, 63, 63, 0.3);

}
.navbarContainer {
    display: flex;
    height: 12vh;
    width: 100%;
    padding: 5px 20px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 25px;
    /* From https://css.glass */

}
.active {
}
.Logo {
    margin-right: auto;
    font-family: var(--styledFontBold);
}
.Coloured {
    color: var(--accentColor1);
}
.navbarContents {
    font-family: var(--regularFontBold);
    padding: 0px 10px;
}


