* {
    margin: 0;
    padding: 0;
}

:root {
    --primaryColor: #00031C;
    --secondaryColor: #ffffff;
    --accentColor1 : #C91C50;
    --accentColor2: #1BB3A7;
    --accentColor3: #ECAA29;
    --styledFont: PlayfairDisplay;
    --styledFontBold: PlayfairDisplayBold;
    --regularFont: Outfit;
    --regularFontBold: OutfitBold;

}

.gradientText {
    background: -webkit-linear-gradient(#e042ff,rgb(255, 58, 222));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}